:root {
  --col1: #ff4858;
  --col2: #1b7f79;
  --col4: #72f2eb;
  --col3: #00ccc0;
  --col5: #747f7f;
  --col6: #373b3b;
  --col7: #b0c4c4;
  --col8: #e6f4f4;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--col6);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
